<aside class="page__dropdown page__dropdown--forgot-pw dropdown js-forgot-pwd-target">
    <div class="dropdown__inner">
        <header class="dropdown__header">
            <h3 class="dropdown__heading">Forgot password?</h3><button class="dropdown__close" onclick="forgotPW.close()" type="button"></button>
        </header>
        <form action="#"><input class="dropdown__field" type="email" placeholder="Email Address" /></form>
        <footer class="dropdown__buttons"><button class="dropdown__submit btn btn--light" type="submit">SEND</button></footer>
    </div>
</aside>