<div class="popup js-confirmation-toggle"><button class="popup__close" onclick="confirmation.close()" type="button"></button>
    <div class="popup__container"><button class="popup__close-inner" type="button" onclick="confirmation.close()"></button>
        <h3 class="popup__heading">Please enter the code we sent you<br> to your phone number.</h3>
        <div class="popup__wrapper">
            <div class="popup__field field"><input class="field__input" id="id_phone_validation_code_field" type="text" /></div>
            <div class="popup__btn-wrapper"><button class="popup__btn btn btn--dark" id="id_phone_number_confirmation_button" type="button">Confirm</button><button class="popup__btn btn btn--light" type="button" id="id_phone_code_resend_button">Resend</button></div>
        </div>
    </div>
</div>