<div class="popup popup--follow-link js-follow-link-toggle"><button class="popup__close" onclick="followLink.close()" type="button"></button>
    <div class="popup__container"><button class="popup__close-inner" type="button" onclick="followLink.close()"></button>
        <h3 class="popup__heading">Please follow the link below to<br> activate your account.</h3>
        <div class="popup__wrapper"><a class="popup__url" href="#">http://ameribtc.com/verif789yjfkdlmiketogaslowxzfv554545</a><a class="popup__btn btn btn--dark" href="#">Open Link</a><a class="popup__link-btn" href="#">Link not working? Give me a new one.</a></div>
    </div>
</div>