<div class="popup popup--pw-recover js-pw-recover-2-toggle"><button class="popup__close" onclick="pwRecover_2.close()" type="button"></button>
    <div class="popup__container"><button class="popup__close-inner" type="button" onclick="pwRecover_2.close()"></button>
        <h3 class="popup__heading">Forgot password? Enter your phone<br> number to recover it.</h3>
        <div class="popup__wrapper">
            <div class="popup__field field"><input class="field__input" type="email" placeholder="example@yahoo.com" /></div><button class="popup__btn btn btn--dark" type="button">Recover Password</button><a class="popup__link-btn" href="#">Don’t have acces to your phone?</a>
        </div>
    </div>
</div>